.form {
  widows: 100%;
  height: 100%;
}

.form-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

h3 {
  text-align: center;
  width: 100%;
}

.search-new-title {
  margin: 0px 10px,
}
