<h3>Enter a Programming Language</h3>
<div class="form-container">
  <div class="col-sm-6 offset-sm-3">
    <div class="form-inline text-center">
      <%= simple_form_for @search do |f| %>
        <%= f.input :title, :label => 'Look for ', :input_html => { :class => 'search-new-title', :placeholder => "e.g. ruby"}%>
        <%= f.button :submit, "Scrape!"%>
      <% end %>
    </div>
    <%= line_chart Search.group_by_day(:created_at).count %>
  </div>
</div>
