
<div class="form-container">
  <h3>Search</h3>
  <div class="form">
    <%= form_for(@search) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
