.card {
  margin: 7px 0 7px 7px;
  border-left: solid;
  border-width: 6px;
  border-color: #00BFFF;
  padding: 7px 0 7px 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 7px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
  transition: 0.4s;
}

.all-cards a {
  color: #333333;
  text-decoration: none;
}

.card:hover {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 0px 20px rgba(0,0,0,0.23);
}

.job-star {
  position: absolute;
  bottom: 15px;
  right: 25px;
}
