.tab {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: skyblue;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  transition: 0.3s;
  font-size: 17px;
  width: 34%;
  button:hover {
    background-color: #ddd;
  }
  button.active {
    background-color: #ccc;
  }
}

.tabcontent {
  display: none;
  padding: 6px 13px;
  // border: 1px solid #ccc;
  border-top: none;
  height: auto;
}
